Repository x55xaa/dll-spider, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci/cd, config, documentation, license, source

.github/labeler.yaml:

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - ./.github/**/*

config:
  - changed-files:
    - any-glob-to-any-file:
      - ./.gitattributes
      - ./.gitignore
      - ./Cargo.toml
      - ./Cargo.lock
      - ./requirements.txt
      - ./tox.ini

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - ./*.md
      - ./docs/**/*

license:
  - changed-files:
    - any-glob-to-any-file:
      - ./LICENSE

source:
  - changed-files:
    - any-glob-to-any-file:
      - ./setup.py
      - ./src/**/*

docs: update `README.md`
  README.md
Labels: documentation

ci: update `Cargo.toml`
  Cargo.toml
Labels: config

feat: add logging capabilities
  src/logging.rs
Labels: source

Add `winapi.rs`
  src/winapi.rs
Labels: source

feat: add CLI
  src/main.rs
Labels: source

Add `Cargo.lock`
  Cargo.lock
Labels: config

style: capitalize help messages
  src/main.rs
Labels: source

chore: warn when process name match is case insensitive
  src/winapi.rs
Labels: source

ci: remove unwanted build targets from release workflow
  .github/workflows/release.yaml
Labels: ci/cd

ci: run tests on Windows only
  .github/workflows/tests.yaml
Labels: ci/cd

ci: add ability to test on different toolchains
  .github/workflows/tests.yaml
Labels: ci/cd

ci: make `cargo build` and `cargo test` output more verbose
  .github/workflows/tests.yaml
Labels: ci/cd

docs: fix typos in `README.md`
  README.md
Labels: documentation

style: change code blocks syntax highlighting from `console` to `bash`
  README.md
Labels: documentation

docs: add info on pre-compiled binaries
  README.md
Labels: documentation
